datasets
/home/krishnar@iff.intern/thesis/screw_detection/yolo-nas/predictions
/home/krishnar@iff.intern/thesis/screw_detection/yolov8/models/base
/home/krishnar@iff.intern/thesis/screw_detection/yolov8/models

